<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/usernotfound.css">
    <link rel="stylesheet" href="/css/layout.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User not found</title>
</head>
<body>
    <img src="https://img.icons8.com/ios-filled/512/000000/error--v1.png"/>
    <h1 align="center">User not found. User may have deleted his Account.</h1>
    <a href="/dashboard" id="return-link">Return &uarr;</a>
</body>
</html>